In [56]:
import os
import pandas as pd

path = '/Users/ijunhui/Downloads/ubion/프로젝트2/2_크롤링/뉴스/정상기업크롤링/2017정상/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

In [57]:
df = pd.DataFrame()
for i in file_list_py:
    data = pd.read_csv(path + i)
    df = pd.concat([df,data])

df = df.drop_duplicates()
df = df.reset_index(drop = True)
# df.to_csv('./data/관리종목크롤링.csv', index=False)
# df[df['종목명']=='위지트']

In [58]:
df['신문사'] = df['신문사'].astype(str)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7220 entries, 0 to 7219
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     7220 non-null   object
 1   신문사     7220 non-null   object
 2   시간      7219 non-null   object
 3   제목      7219 non-null   object
 4   본문      7219 non-null   object
dtypes: object(5)
memory usage: 282.2+ KB

In [60]:
for i in range (0, len(df)):
   df.loc[i]['신문사'] = df.loc[i]['신문사'].replace("언론사 선정", "")

In [61]:
df['종목명'].nunique()

202

In [62]:
df[df['신문사']=='머니투데이언론사 선정']

Empty DataFrame
Columns: [종목명, 신문사, 시간, 제목, 본문]
Index: []

In [76]:
df_s = df.groupby('종목명').count()
df_1 = df_s.sort_values('신문사', ascending=True)
df_1.head(30)

           신문사  시간  제목  본문
종목명
            1   0   0   0
형지아이앤씨       1   1   1   1
종목명          1   1   1   1
인포바인         1   1   1   1
원일특강         1   1   1   1
액트           1   1   1   1
드래곤플라이       1   1   1   1
동양파일         1   1   1   1
대한과학         1   1   1   1
힘스           1   1   1   1
고영테크놀러지      1   1   1   1
중앙에너비스       2   2   2   2
프리엠스         2   2   2   2
이지           2   2   2   2
케이씨씨건설       2   2   2   2
메타바이오메드      2   2   2   2
인바디          2   2   2   2
에이치시티        2   2   2   2
아이윈          2   2   2   2
서린바이오사이언스    2   2   2   2
기산텔레콤        2   2   2   2
나이스평가정보      2   2   2   2
이루온          3   3   3   3
인포바인         4   4   4   4
제닉           4   4   4   4
오킨스전자        5   5   5   5
씨큐브          5   5   5   5
국영지앤엠        5   5   5   5
한국기업평가       5   5   5   5
포인트엔지니어링     5   5   5   5

In [73]:
df_2 = df_1[df_1['신문사'] < 10]
list = df_2.index

In [74]:
len(list)

48

In [84]:
df[df['종목명']=='오킨스전자']

,종목명,신문사,시간,제목,본문
1226,오킨스전자,이데일리,2017.11.15. 오후 2:21,"오킨스전자, 특허경영대상서 '산업부 장관표창' 수상 쾌거",▲ 특허경영대상 행사사진\n[이데일리 e뉴스 김민정 기자] 오킨스전자가 오는 23일...
1227,오킨스전자,전자신문,2017.11.23. 오전 5:01,[2017 특허경영대상]기업부문 대상<5>오킨스전자,전진국 오킨스전자 대표\n\n오킨스전자(대표 전진국)는 독자 기술 개발로 메모리 반...
1228,오킨스전자,파이낸셜뉴스,2017.12.19. 오전 10:54,"[fnRASSI]오킨스전자, 거래량 확대되며 3거래일 연속 하락",오킨스전자(080580)의 당일 거래량이 최근 5거래일 거래량의 최고치를 넘어섰다....
1229,오킨스전자,이데일리,2018.02.14. 오후 4:40,"오킨스전자, 작년 연결 영업익 흑자전환",[이데일리 최정희 기자] 오킨스전자(080580)는 작년 연결 기준 영업이익이 흑자...
1230,오킨스전자,한국경제TV,2018.03.22. 오전 10:57,"오킨스전자, 전일 대비 약 -4% 하락한 4,740원",[한국경제TV 라이온봇 기자]\n\n오킨스전자는 3월 22일 10시 57분 전일 대...

In [85]:
df_df = df[~df['종목명'].isin(list)]

In [87]:
df_df[df_df['종목명'] == '오킨스전자']

Empty DataFrame
Columns: [종목명, 신문사, 시간, 제목, 본문]
Index: []

In [88]:
df_df.to_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/3_크롤링전처리/정상/뉴스/2017정상기업크롤링전처리.csv', index=False)

In [89]:
asdf = pd.read_csv("/Users/ijunhui/Downloads/ubion/프로젝트2/3_크롤링전처리/정상/뉴스/2017정상기업크롤링전처리.csv")

In [90]:
asdf

,종목명,신문사,시간,제목,본문
0,참좋은여행,전자신문,2017.10.10. 오후 12:09,"[ET투자뉴스][참좋은여행 지분 변동] 국민연금공단 외 1명 -3.27%p 감소, ...",참좋은여행(094850)은 10일 주주 국민연금공단을 비롯한 특별관계자의 보유주식이...
1,참좋은여행,전자신문,2017.10.10. 오후 12:53,[ET투자뉴스]자전거주 테마_참좋은여행 2주간 -0.47%로 하락폭 가장 작아,현재 시점에서 자전거주 테마 내의 종목들이 모두 하락세를 보이며 좋지 않은 모습을 ...
2,참좋은여행,뉴스1,2017.10.16. 오전 8:35,[부고] 이상무씨(참좋은여행 전무이사) 부친상,"■이상일씨 별세, 이상무씨(참좋은여행 전무이사) 부친상=15일 충청나마도 서산중앙병..."
3,참좋은여행,노컷뉴스,2017.10.16. 오전 9:24,[부고] 이상무(참좋은여행 전무이사)씨 부친상,"[CBS노컷뉴스]\n▲ 이상무(참좋은여행 전무이사)씨 부친상 = 이상일, 상무, 상..."
4,참좋은여행,스포츠서울,2017.10.20. 오전 8:04,"""봄의 도시로 떠나볼까?"" 참좋은여행, 봄으로 떠나는 가을여행 '베트남 달랏'",베트남 달랏 제공 | 참좋은여행\n\n[스포츠서울 황철훈기자] 하루가 다르게 쌀쌀해...
...,...,...,...,...,...
7010,엘오티베큠,이데일리,2018.03.20. 오후 1:25,"엘오티베큠, 삼성전자와 25억원 규모 공급 계약",[이데일리 오희나 기자] 엘오티베큠(083310)은 삼성전자와 25억원 규모 반도체...
7011,엘오티베큠,헤럴드경제,2018.03.20. 오후 2:08,"[생생코스닥]엘오티베큠, 삼성전자와 25.4억 규모 공급계약",[헤럴드경제=증권팀] 엘오티베큠은 삼성전자와 반도체 공정용 플라즈마 전처리시스템 &...
7012,엘오티베큠,뉴시스,2018.03.20. 오후 2:37,"엘오티베큠, 삼성전자와 25억 규모 반도체 시스템·펌프 공급 계약",【서울=뉴시스】김지은 기자 = 코스닥 상장 반도체 장비업체 엘오티베큠(083310)...
7013,엘오티베큠,아시아경제,2018.03.20. 오후 2:55,"엘오티베큠, 삼성전자와 25억 규모 반도체 장비 공급계약",[아시아경제 박나영 기자]엘오티베큠은 지난 19일 삼성전자와 25억4200만원 규모...
7014,엘오티베큠,매일경제,2018.03.20. 오후 5:33,[코스닥 공시] 씨큐브 / 아진산업 / 엘오티베큠 등,◇씨큐브=공장 신설에 120억원 투자.\n\n◇아진산업=신주인수권행사가액 5620원...