In [1]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

In [2]:
df17_1 = pd.read_csv('./csv/data/17_01.csv', encoding='CP949')
df17_2 = pd.read_csv('./csv/data/17_02.csv', encoding='CP949')
df17_3 = pd.read_csv('./csv/data/17_03.csv', encoding='CP949')
df17_4 = pd.read_csv('./csv/data/17_04.csv', encoding='CP949')
df17_5 = pd.read_csv('./csv/data/17_05.csv', encoding='CP949')
df17_6 = pd.read_csv('./csv/data/17_06.csv', encoding='CP949')
df17_7 = pd.read_csv('./csv/data/17_07.csv', encoding='CP949')
df17_8 = pd.read_csv('./csv/data/17_08.csv', encoding='CP949')
df17_9 = pd.read_csv('./csv/data/17_09.csv', encoding='CP949')
df17_10 = pd.read_csv('./csv/data/17_10.csv', encoding='CP949')
df17_11 = pd.read_csv('./csv/data/17_11.csv', encoding='CP949')
df17_12 = pd.read_csv('./csv/data/17_12.csv', encoding='CP949')

FileNotFoundError: [Errno 2] No such file or directory: './csv/data/17_01.csv'

In [ ]:
df17_1

In [ ]:
df18_1 = pd.read_csv('./csv/data/18_01.csv', encoding='CP949')
df18_2 = pd.read_csv('./csv/data/18_02.csv', encoding='CP949')
df18_3 = pd.read_csv('./csv/data/18_03.csv', encoding='CP949')
df18_4 = pd.read_csv('./csv/data/18_04.csv', encoding='CP949')
df18_5 = pd.read_csv('./csv/data/18_05.csv', encoding='CP949')
df18_6 = pd.read_csv('./csv/data/18_06.csv', encoding='CP949')
df18_7 = pd.read_csv('./csv/data/18_07.csv', encoding='CP949')
df18_8 = pd.read_csv('./csv/data/18_08.csv', encoding='CP949')
df18_9 = pd.read_csv('./csv/data/18_09.csv', encoding='CP949')
df18_10 = pd.read_csv('./csv/data/18_10.csv', encoding='CP949')
df18_11 = pd.read_csv('./csv/data/18_11.csv', encoding='CP949')
df18_12 = pd.read_csv('./csv/data/18_12.csv', encoding='CP949')

In [ ]:
df19_1 = pd.read_csv('./csv/data/19_01.csv', encoding='CP949')
df19_2 = pd.read_csv('./csv/data/19_02.csv', encoding='CP949')
df19_3 = pd.read_csv('./csv/data/19_03.csv', encoding='CP949')
df19_4 = pd.read_csv('./csv/data/19_04.csv', encoding='CP949')
df19_5 = pd.read_csv('./csv/data/19_05.csv', encoding='CP949')
df19_6 = pd.read_csv('./csv/data/19_06.csv', encoding='CP949')
df19_7 = pd.read_csv('./csv/data/19_07.csv', encoding='CP949')
df19_8 = pd.read_csv('./csv/data/19_08.csv', encoding='CP949')
df19_9 = pd.read_csv('./csv/data/19_09.csv', encoding='CP949')
df19_10 = pd.read_csv('./csv/data/19_10.csv', encoding='CP949')
df19_11 = pd.read_csv('./csv/data/19_11.csv', encoding='CP949')
df19_12 = pd.read_csv('./csv/data/19_12.csv', encoding='CP949')

In [ ]:
df20_1 = pd.read_csv('./csv/data/20_01.csv', encoding='CP949')
df20_2 = pd.read_csv('./csv/data/20_02.csv', encoding='CP949')
df20_3 = pd.read_csv('./csv/data/20_03.csv', encoding='CP949')
df20_4 = pd.read_csv('./csv/data/20_04.csv', encoding='CP949')
df20_5 = pd.read_csv('./csv/data/20_05.csv', encoding='CP949')
df20_6 = pd.read_csv('./csv/data/20_06.csv', encoding='CP949')
df20_7 = pd.read_csv('./csv/data/20_07.csv', encoding='CP949')
df20_8 = pd.read_csv('./csv/data/20_08.csv', encoding='CP949')
df20_9 = pd.read_csv('./csv/data/20_09.csv', encoding='CP949')
df20_10 = pd.read_csv('./csv/data/20_10.csv', encoding='CP949')
df20_11 = pd.read_csv('./csv/data/20_11.csv', encoding='CP949')
df20_12 = pd.read_csv('./csv/data/20_12.csv', encoding='CP949')

In [ ]:
df21_1 = pd.read_csv('./csv/data/21_01.csv', encoding='CP949')
df21_2 = pd.read_csv('./csv/data/21_02.csv', encoding='CP949')
df21_3 = pd.read_csv('./csv/data/21_03.csv', encoding='CP949')
df21_4 = pd.read_csv('./csv/data/21_04.csv', encoding='CP949')
df21_5 = pd.read_csv('./csv/data/21_05.csv', encoding='CP949')
df21_6 = pd.read_csv('./csv/data/21_06.csv', encoding='CP949')
df21_7 = pd.read_csv('./csv/data/21_07.csv', encoding='CP949')
df21_8 = pd.read_csv('./csv/data/21_08.csv', encoding='CP949')
df21_9 = pd.read_csv('./csv/data/21_09.csv', encoding='CP949')
df21_10 = pd.read_csv('./csv/data/21_10.csv', encoding='CP949')
df21_11 = pd.read_csv('./csv/data/21_11.csv', encoding='CP949')
df21_12 = pd.read_csv('./csv/data/21_12.csv', encoding='CP949')

In [ ]:
df17_1['years']='2017'
df17_2['years']='2017'
df17_3['years']='2017'
df17_4['years']='2017'
df17_5['years']='2017'
df17_6['years']='2017'
df17_7['years']='2017'
df17_8['years']='2017'
df17_9['years']='2017'
df17_10['years']='2017'
df17_11['years']='2017'
df17_12['years']='2017'
df18_1['years']='2018'
df18_2['years']='2018'
df18_3['years']='2018'
df18_4['years']='2018'
df18_5['years']='2018'
df18_6['years']='2018'
df18_7['years']='2018'
df18_8['years']='2018'
df18_9['years']='2018'
df18_10['years']='2018'
df18_11['years']='2018'
df18_12['years']='2018'
df19_1['years']='2019'
df19_2['years']='2019'
df19_3['years']='2019'
df19_4['years']='2019'
df19_5['years']='2019'
df19_6['years']='2019'
df19_7['years']='2019'
df19_8['years']='2019'
df19_9['years']='2019'
df19_10['years']='2019'
df19_11['years']='2019'
df19_12['years']='2019'
df20_1['years']='2020'
df20_2['years']='2020'
df20_3['years']='2020'
df20_4['years']='2020'
df20_5['years']='2020'
df20_6['years']='2020'
df20_7['years']='2020'
df20_8['years']='2020'
df20_9['years']='2020'
df20_10['years']='2020'
df20_11['years']='2020'
df20_12['years']='2020'
df21_1['years']='2021'
df21_2['years']='2021'
df21_3['years']='2021'
df21_4['years']='2021'
df21_5['years']='2021'
df21_6['years']='2021'
df21_7['years']='2021'
df21_8['years']='2021'
df21_9['years']='2021'
df21_10['years']='2021'
df21_11['years']='2021'
df21_12['years']='2021'

In [ ]:
df17_1['month']='01'
df17_2['month']='02'
df17_3['month']='03'
df17_4['month']='04'
df17_5['month']='05'
df17_6['month']='06'
df17_7['month']='07'
df17_8['month']='08'
df17_9['month']='09'
df17_10['month']='10'
df17_11['month']='11'
df17_12['month']='12'
df18_1['month']='01'
df18_2['month']='02'
df18_3['month']='03'
df18_4['month']='04'
df18_5['month']='05'
df18_6['month']='06'
df18_7['month']='07'
df18_8['month']='08'
df18_9['month']='09'
df18_10['month']='10'
df18_11['month']='11'
df18_12['month']='12'
df19_1['month']='01'
df19_2['month']='02'
df19_3['month']='03'
df19_4['month']='04'
df19_5['month']='05'
df19_6['month']='06'
df19_7['month']='07'
df19_8['month']='08'
df19_9['month']='09'
df19_10['month']='10'
df19_11['month']='11'
df19_12['month']='12'
df20_1['month']='01'
df20_2['month']='02'
df20_3['month']='03'
df20_4['month']='04'
df20_5['month']='05'
df20_6['month']='06'
df20_7['month']='07'
df20_8['month']='08'
df20_9['month']='09'
df20_10['month']='10'
df20_11['month']='11'
df20_12['month']='12'
df21_1['month']='01'
df21_2['month']='02'
df21_3['month']='03'
df21_4['month']='04'
df21_5['month']='05'
df21_6['month']='06'
df21_7['month']='07'
df21_8['month']='08'
df21_9['month']='09'
df21_10['month']='10'
df21_11['month']='11'
df21_12['month']='12'

In [ ]:
df17_1['상장주식수대비거래량']=(df17_1['거래량']/df17_1['상장주식수'])*100

In [ ]:
df17_1 = df17_1.sort_values('상장주식수대비거래량',ascending=True)

In [ ]:
idx = df17_1[df17_1['시가']==0].index

In [ ]:
df17_1_1 = pd.read_csv('./csv/data/dataset/17_1.csv')

In [ ]:
df17_1 = df17_1.drop(idx)

In [ ]:
def Tlqkf(data):
    data['상장주식수대비거래량'] = (data['거래량']/data['상장주식수'])*100
    data['시가총액대비거래대금'] = (data['거래대금']/data['시가총액'])*100
    idx = data[data['시가']==0].index
    data = data.drop(idx)
    data = data.sort_values('상장주식수대비거래량',ascending=True)
    data.reset_index(drop=True, inplace=True)
    data.set_index
    return data

In [ ]:
df17_1 = Tlqkf(df17_1)
df17_2 = Tlqkf(df17_2)
df17_3 = Tlqkf(df17_3)
df17_4 = Tlqkf(df17_4)
df17_5 = Tlqkf(df17_5)
df17_6 = Tlqkf(df17_6)
df17_7 = Tlqkf(df17_7)
df17_8 = Tlqkf(df17_8)
df17_9 = Tlqkf(df17_9)
df17_10 = Tlqkf(df17_10)
df17_11 = Tlqkf(df17_11)
df17_12 = Tlqkf(df17_12)

In [ ]:
df18_1 = Tlqkf(df18_1)
df18_2 = Tlqkf(df18_2)
df18_3 = Tlqkf(df18_3)
df18_4 = Tlqkf(df18_4)
df18_5 = Tlqkf(df18_5)
df18_6 = Tlqkf(df18_6)
df18_7 = Tlqkf(df18_7)
df18_8 = Tlqkf(df18_8)
df18_9 = Tlqkf(df18_9)
df18_10 = Tlqkf(df18_10)
df18_11 = Tlqkf(df18_11)
df18_12 = Tlqkf(df18_12)

In [ ]:
df19_1 = Tlqkf(df19_1)
df19_2 = Tlqkf(df19_2)
df19_3 = Tlqkf(df19_3)
df19_4 = Tlqkf(df19_4)
df19_5 = Tlqkf(df19_5)
df19_6 = Tlqkf(df19_6)
df19_7 = Tlqkf(df19_7)
df19_8 = Tlqkf(df19_8)
df19_9 = Tlqkf(df19_9)
df19_10 = Tlqkf(df19_10)
df19_11 = Tlqkf(df19_11)
df19_12 = Tlqkf(df19_12)

In [ ]:
df20_1 = Tlqkf(df20_1)
df20_2 = Tlqkf(df20_2)
df20_3 = Tlqkf(df20_3)
df20_4 = Tlqkf(df20_4)
df20_5 = Tlqkf(df20_5)
df20_6 = Tlqkf(df20_6)
df20_7 = Tlqkf(df20_7)
df20_8 = Tlqkf(df20_8)
df20_9 = Tlqkf(df20_9)
df20_10 = Tlqkf(df20_10)
df20_11 = Tlqkf(df20_11)
df20_12 = Tlqkf(df20_12)

In [ ]:
df21_1 = Tlqkf(df21_1)
df21_2 = Tlqkf(df21_2)
df21_3 = Tlqkf(df21_3)
df21_4 = Tlqkf(df21_4)
df21_5 = Tlqkf(df21_5)
df21_6 = Tlqkf(df21_6)
df21_7 = Tlqkf(df21_7)
df21_8 = Tlqkf(df21_8)
df21_9 = Tlqkf(df21_9)
df21_10 = Tlqkf(df21_10)
df21_11 = Tlqkf(df21_11)
df21_12 = Tlqkf(df21_12)

In [ ]:
def Tlqkf1(data):
    idx = data[data['상장주식수대비거래량']>0.1].index
    data = data.drop(idx)
    return data

In [ ]:
# df17_1 = Tlqkf1(df17_1)
# df17_2 = Tlqkf1(df17_2)
# df17_3 = Tlqkf1(df17_3)
# df17_4 = Tlqkf1(df17_4)
# df17_5 = Tlqkf1(df17_5)
# df17_6 = Tlqkf1(df17_6)
# df17_7 = Tlqkf1(df17_7)
# df17_8 = Tlqkf1(df17_8)
# df17_9 = Tlqkf1(df17_9)
# df17_10 = Tlqkf1(df17_10)
# df17_11 = Tlqkf1(df17_11)
# df17_12 = Tlqkf1(df17_12)
# df18_1 = Tlqkf1(df18_1)
# df18_2 = Tlqkf1(df18_2)
# df18_3 = Tlqkf1(df18_3)
# df18_4 = Tlqkf1(df18_4)
# df18_5 = Tlqkf1(df18_5)
# df18_6 = Tlqkf1(df18_6)
# df18_7 = Tlqkf1(df18_7)
# df18_8 = Tlqkf1(df18_8)
# df18_9 = Tlqkf1(df18_9)
# df18_10 = Tlqkf1(df18_10)
# df18_11 = Tlqkf1(df18_11)
# df18_12 = Tlqkf1(df18_12)
# df19_1 = Tlqkf1(df19_1)
# df19_2 = Tlqkf1(df19_2)
# df19_3 = Tlqkf1(df19_3)
# df19_4 = Tlqkf1(df19_4)
# df19_5 = Tlqkf1(df19_5)
# df19_6 = Tlqkf1(df19_6)
# df19_7 = Tlqkf1(df19_7)
# df19_8 = Tlqkf1(df19_8)
# df19_9 = Tlqkf1(df19_9)
# df19_10 = Tlqkf1(df19_10)
# df19_11 = Tlqkf1(df19_11)
# df19_12 = Tlqkf1(df19_12)
# df20_1 = Tlqkf1(df20_1)
# df20_2 = Tlqkf1(df20_2)
# df20_3 = Tlqkf1(df20_3)
# df20_4 = Tlqkf1(df20_4)
# df20_5 = Tlqkf1(df20_5)
# df20_6 = Tlqkf1(df20_6)
# df20_7 = Tlqkf1(df20_7)
# df20_8 = Tlqkf1(df20_8)
# df20_9 = Tlqkf1(df20_9)
# df20_10 = Tlqkf1(df20_10)
# df20_11 = Tlqkf1(df20_11)
# df20_12 = Tlqkf1(df20_12)
# df21_1 = Tlqkf1(df21_1)
# df21_2 = Tlqkf1(df21_2)
# df21_3 = Tlqkf1(df21_3)
# df21_4 = Tlqkf1(df21_4)
# df21_5 = Tlqkf1(df21_5)
# df21_6 = Tlqkf1(df21_6)
# df21_7 = Tlqkf1(df21_7)
# df21_8 = Tlqkf1(df21_8)
# df21_9 = Tlqkf1(df21_9)
# df21_10 = Tlqkf1(df21_10)
# df21_11 = Tlqkf1(df21_11)
# df21_12 = Tlqkf1(df21_12)

In [ ]:
idx = df17_1[df17_1['상장주식수대비거래량']>0.1].index

In [ ]:
df17_1_d = df17_1.drop(idx)

In [ ]:
df17_1_d

In [ ]:
df17 = pd.concat([df17_1,df17_2,df17_3,df17_4,df17_5,df17_6,df17_7,df17_8,df17_9,df17_10,df17_11,df17_12],join='inner')
df18 = pd.concat([df18_1,df18_2,df18_3,df18_4,df18_5,df18_6,df18_7,df18_8,df18_9,df18_10,df18_11,df18_12],join='inner')
df19 = pd.concat([df19_1,df19_2,df19_3,df19_4,df19_5,df19_6,df19_7,df19_8,df19_9,df19_10,df19_11,df19_12],join='inner')
df20 = pd.concat([df20_1,df20_2,df20_3,df20_4,df20_5,df20_6,df20_7,df20_8,df20_9,df20_10,df20_11,df20_12],join='inner')
df21 = pd.concat([df21_1,df21_2,df21_3,df21_4,df21_5,df21_6,df21_7,df21_8,df21_9,df21_10,df21_11,df21_12],join='inner')

In [ ]:
df17 = df17.sort_values('상장주식수대비거래량',ascending=True)
df18 = df18.sort_values('상장주식수대비거래량',ascending=True)
df19 = df19.sort_values('상장주식수대비거래량',ascending=True)
df20 = df20.sort_values('상장주식수대비거래량',ascending=True)
df21 = df21.sort_values('상장주식수대비거래량',ascending=True)

In [ ]:
df17 = df17.set_index('종목명')
df18 = df18.set_index('종목명')
df19 = df19.set_index('종목명')
df20 = df20.set_index('종목명')
df21 = df21.set_index('종목명')

In [ ]:
df17

In [ ]:
df18

In [ ]:
df19

In [ ]:
df20

In [ ]:
df21

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font', family='Malgun Gothic')

In [ ]:
df17_1.corr()
plt.figure(figsize=(25,20))
sns.heatmap(df17_1.corr(), linewidths = 0.1, vmax = 1.0,
           square = True, cmap = 'Blues', linecolor = "white", annot = True, annot_kws = {"size" : 16})

In [ ]:
df = pd.concat([df17,df18,df19,df20,df21], join='inner')
df

In [ ]:
df.info()

In [ ]:
trade = pd.read_csv('./csv/17_21월별거래량.csv', encoding='CP949')

In [ ]:
trade.drop(['시장아이디','종가','최고가(종가)','최저가(종가)','첨도','공왜도','베타','Amivest','Zeros','Amihud'],axis=1, inplace=True)

In [ ]:
trade

In [ ]:
import datetime as dt

In [ ]:
trade['연월'] = pd.to_datetime(trade['연월'])

In [ ]:
trade

In [ ]:
trade['years'] = trade['연월'].dt.year
trade['month'] = trade['연월'].dt.month

In [ ]:
trade

In [ ]:
trade.drop(['연월'],axis=1,inplace=True)

In [ ]:
trade

In [ ]:
df.to_csv('./csv/data/df1.csv')

In [ ]:
trade.set_index('종목명')

In [ ]:
trade['years']=trade['years'].astype(object)
trade['month']=trade['month'].astype(object)

In [ ]:
df

In [ ]:
df_trade = pd.merge(df1, trade, on=['종목명','종목코드','years','month'], how='inner')

In [ ]:
df_trade

In [ ]:
trade.info()

In [ ]:
df.info()

In [ ]:
df1 = pd.read_csv('./csv/data/df1.csv')

In [ ]:
df1

In [ ]:
df_trade = pd.merge(df1, trade, on=['종목명','종목코드','years','month'], how='inner')

In [ ]:
df_trade.drop(['연월'],axis=1, inplace=True)

In [ ]:
df_trade

In [ ]:
df_trade['상장주식수대비월거래량합계'] = (df_trade['거래량_합계']/df_trade['상장주식수'])*100

In [ ]:
df_trade

In [ ]:
df_trade = df_trade.sort_values('상장주식수대비월거래량합계', ascending=True)

In [ ]:
df_trade = df_trade.set_index('종목명')

In [ ]:
df_trade

In [ ]:
upjong = pd.read_csv('./csv/upjong.csv', encoding='CP949')

In [ ]:
upjong.drop(['종목코드','시장구분','종가','대비','등락률','시가총액'],axis=1, inplace=True)

In [ ]:
upjong

In [ ]:
df_trade_upjong = pd.merge(df_trade, upjong, on='종목명', how='inner')

In [ ]:
df_trade_upjong = df_trade_upjong.sort_values('상장주식수대비월거래량합계')

In [ ]:
df_trade_upjong.head(30)

In [ ]:
df_trade_upjong.info()

In [ ]:
idx = df_trade_upjong[df_trade_upjong['종목코드'].str[-1]!='0'].index

In [ ]:
df_trade_upjong = df_trade_upjong.drop(idx)

In [ ]:
df_trade_upjong

In [ ]:
import os
files = os.listdir('./csv/data/PBR/')

In [ ]:
for i in files:
    globals()[i.split('.')[0]] = pd.read_csv(f'./csv/data/PBR/{i}')

## 여기서부터 진행해봤어 성휘야~~~

In [1]:
import pandas as pd

kospi=pd.read_csv('./csv/data/코스피벤치마크기준시가총액대비거래대금.csv', encoding='CP949')
kospi.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2022/01/03,2988.77,11.12,0.37,2998.32,3010.77,2979.42,435825854,8193887.0,2.211373e+09
1,2021/12/30,2977.65,-15.64,-0.52,2999.75,3005.36,2975.74,461038202,8727458.0,2.203367e+09
2,2021/12/29,2993.29,-26.95,-0.89,3002.90,3007.72,2988.67,545831859,10908667.0,2.215463e+09
3,2021/12/28,3020.24,20.69,0.69,3006.77,3020.29,2991.55,607046190,12096894.0,2.237624e+09
4,2021/12/27,2999.55,-12.88,-0.43,3013.94,3017.31,2999.30,475363053,8280395.0,2.221527e+09

In [2]:
kospi.sort_values("일자", ascending=True, inplace=True)
kospi.reset_index(drop=True, inplace=True)
kospi

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2017/01/02,2026.16,-0.30,-0.01,2022.23,2031.79,2015.68,229874996,2616791.0,1.308042e+09
1,2017/01/03,2043.97,17.81,0.88,2034.31,2044.07,2028.47,268127309,3725113.0,1.319219e+09
2,2017/01/04,2045.64,1.67,0.08,2046.29,2046.29,2040.61,371488189,4098880.0,1.320294e+09
3,2017/01/05,2041.95,-3.69,-0.18,2045.52,2046.50,2039.49,541343551,4479782.0,1.317578e+09
4,2017/01/06,2049.12,7.17,0.35,2048.11,2051.84,2045.66,455350704,3511655.0,1.322375e+09
...,...,...,...,...,...,...,...,...,...,...
1225,2021/12/27,2999.55,-12.88,-0.43,3013.94,3017.31,2999.30,475363053,8280395.0,2.221527e+09
1226,2021/12/28,3020.24,20.69,0.69,3006.77,3020.29,2991.55,607046190,12096894.0,2.237624e+09
1227,2021/12/29,2993.29,-26.95,-0.89,3002.90,3007.72,2988.67,545831859,10908667.0,2.215463e+09
1228,2021/12/30,2977.65,-15.64,-0.52,2999.75,3005.36,2975.74,461038202,8727458.0,2.203367e+09
1229,2022/01/03,2988.77,11.12,0.37,2998.32,3010.77,2979.42,435825854,8193887.0,2.211373e+09

In [3]:
kospi['벤치마크지수'] = kospi['거래대금'] / kospi['상장시가총액'] * 100
kospi['벤치마크지수']

0       0.200054
1       0.282373
2       0.310452
3       0.340001
4       0.265557
          ...
1225    0.372734
1226    0.540613
1227    0.492388
1228    0.396097
1229    0.370534
Name: 벤치마크지수, Length: 1230, dtype: float64

In [4]:
kospi

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액,벤치마크지수
0,2017/01/02,2026.16,-0.30,-0.01,2022.23,2031.79,2015.68,229874996,2616791.0,1.308042e+09,0.200054
1,2017/01/03,2043.97,17.81,0.88,2034.31,2044.07,2028.47,268127309,3725113.0,1.319219e+09,0.282373
2,2017/01/04,2045.64,1.67,0.08,2046.29,2046.29,2040.61,371488189,4098880.0,1.320294e+09,0.310452
3,2017/01/05,2041.95,-3.69,-0.18,2045.52,2046.50,2039.49,541343551,4479782.0,1.317578e+09,0.340001
4,2017/01/06,2049.12,7.17,0.35,2048.11,2051.84,2045.66,455350704,3511655.0,1.322375e+09,0.265557
...,...,...,...,...,...,...,...,...,...,...,...
1225,2021/12/27,2999.55,-12.88,-0.43,3013.94,3017.31,2999.30,475363053,8280395.0,2.221527e+09,0.372734
1226,2021/12/28,3020.24,20.69,0.69,3006.77,3020.29,2991.55,607046190,12096894.0,2.237624e+09,0.540613
1227,2021/12/29,2993.29,-26.95,-0.89,3002.90,3007.72,2988.67,545831859,10908667.0,2.215463e+09,0.492388
1228,2021/12/30,2977.65,-15.64,-0.52,2999.75,3005.36,2975.74,461038202,8727458.0,2.203367e+09,0.396097
1229,2022/01/03,2988.77,11.12,0.37,2998.32,3010.77,2979.42,435825854,8193887.0,2.211373e+09,0.370534

In [5]:
kospi = kospi[["일자", "거래대금", "상장시가총액", "벤치마크지수"]]
kospi

              일자        거래대금        상장시가총액    벤치마크지수
0     2017/01/02   2616791.0  1.308042e+09  0.200054
1     2017/01/03   3725113.0  1.319219e+09  0.282373
2     2017/01/04   4098880.0  1.320294e+09  0.310452
3     2017/01/05   4479782.0  1.317578e+09  0.340001
4     2017/01/06   3511655.0  1.322375e+09  0.265557
...          ...         ...           ...       ...
1225  2021/12/27   8280395.0  2.221527e+09  0.372734
1226  2021/12/28  12096894.0  2.237624e+09  0.540613
1227  2021/12/29  10908667.0  2.215463e+09  0.492388
1228  2021/12/30   8727458.0  2.203367e+09  0.396097
1229  2022/01/03   8193887.0  2.211373e+09  0.370534

[1230 rows x 4 columns]

In [6]:
kospi

              일자        거래대금        상장시가총액    벤치마크지수
0     2017/01/02   2616791.0  1.308042e+09  0.200054
1     2017/01/03   3725113.0  1.319219e+09  0.282373
2     2017/01/04   4098880.0  1.320294e+09  0.310452
3     2017/01/05   4479782.0  1.317578e+09  0.340001
4     2017/01/06   3511655.0  1.322375e+09  0.265557
...          ...         ...           ...       ...
1225  2021/12/27   8280395.0  2.221527e+09  0.372734
1226  2021/12/28  12096894.0  2.237624e+09  0.540613
1227  2021/12/29  10908667.0  2.215463e+09  0.492388
1228  2021/12/30   8727458.0  2.203367e+09  0.396097
1229  2022/01/03   8193887.0  2.211373e+09  0.370534

[1230 rows x 4 columns]

## 코딩해줘 성휘야~~~

* 3(1) 벤치마크지수까지 구했어 성휘야
* 일자를 2017.01 , 2017.02, 2017.03 씩 연도랑 월도 묶으면서
* 벤치마크지수를 한달 평균내가지고
* 너가 추출해낸 years 랑 month 와 일치하게 ["벤치마크지수"] 컬럼 추가
* 상장주식수대비월거래량합계 < 벤치마크지수 이면, ["소외주"] 컬럼 생성

In [ ]:
# years 와 month 를 그룹바이한 다음, 업종별로 또 묶어서
# 각 기업에 해당하는 PBR을 불러온 다음(카카오워크 압축파일)
# 평균을 내서 업종별 PBR을 구하고
# PBR < 업종별 PBR 인 경우, ["Low P/B"] 컬럼 생성

In [ ]:
df_trade_upjong.head()

In [10]:
kospi['일자'] = pd.to_datetime(kospi['일자'])

c:\Users\김성휘\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
kospi['years'] = kospi['일자'].dt.year
kospi['month'] = kospi['일자'].dt.month

c:\Users\김성휘\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\김성휘\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
kospi_group = kospi.groupby(['years','month']).mean()

In [17]:
kospi_group

                     거래대금        상장시가총액    벤치마크지수
years month
2017  1      4.111711e+06  1.332106e+09  0.308481
      2      4.484081e+06  1.347227e+09  0.332872
      3      5.025620e+06  1.382749e+09  0.363481
      4      4.598756e+06  1.400871e+09  0.327837
      5      6.208852e+06  1.500436e+09  0.413761
...                   ...           ...       ...
2021  9      1.406136e+07  2.278256e+09  0.617559
      10     1.175381e+07  2.173606e+09  0.541526
      11     1.171779e+07  2.182239e+09  0.537774
      12     9.919549e+06  2.210272e+09  0.448953
2022  1      8.193887e+06  2.211373e+09  0.370534

[61 rows x 3 columns]

In [18]:
for idx in len(kospi):
    if kospi['벤치마크지수']

SyntaxError: unexpected EOF while parsing (<ipython-input-18-470a1ad13829>, line 1)

## 코딩해줘 성휘야~~~
* years 와 month 를 그룹바이한 다음, 업종별로 또 묶어서
* 각 기업에 해당하는 PBR을 불러온 다음(카카오워크 압축파일)
* 평균을 내서 업종별 PBR을 구하고
* PBR < 업종별 PBR 인 경우, ["Low P/B"] 컬럼 생성

## 코딩해줘 성휘야~~~
* ["소외주"] 기업들 선정되었고, ["Low P/B"] 기업들 선정 완료
* ["소외주"] 기업과 ["Low P/B"] 기업에서 겹치는 기업으로 ["Anomaly 기업"] 컬럼 생성
* (years 와 month 가 일치하는지 확인해야겠다!)